#eclipse
.project
.classpath
.metadata
org.*
bin

#idea
.idea
*.iml
*.ipr
*.iws
out

#gradle
build
.gradle

#runtime
eclipse
run

#mac
.DS_Store
*.command

#workspace
screenshots
logs
saves
asm
config/CodeChickenLib.cfg
config/Magneticraft.cfg
config/Waila.cfg
config/forge.cfg
config/forgeChunkLoading.cfg
config/microblocks.cfg
config/multipart.cfg
config/splash.properties
crash
minetweaker.log
options.txt
usernamecache.json

/server.properties
*.psd
classes
